<%= form_for(user) do |f| %>
    
    <div class='field'>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
    </div>

    <div class='field'>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
    </div>

    <div class='field'>
    <%= f.label :email %><br />
    <%= f.email_field :email %>
    </div>

    <div class='field'>
    <%= f.label :password %><br />
    <%= f.password_field :password %><br />
    </div><br />

    <div class='field'>
    <%= f.label :admin, "Are you a content Creator?" %><br />
    <%= f.check_box :admin %><br />
    </div><br />
    <%= f.submit button_label %>
<%end%>