<h1><u> Your Order Confirmation Number: <%=@order.id%></u></h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr> 
        <th><strong>Name</strong></th>
        <th><strong>Price</strong></th>
        <th><strong>Quantity</strong></th>
        <th><strong>Total</strong></th>
    </tr>

        <% @order_items.each do |item| %>
        <tr>
            <td><%= @name = Item.find(item.item_id).name %></td>
            <td><%= @price = Item.find(item.item_id).price %></td>
            <td><%= @quantity = item.item_quantity %></td>
            <td><%= @total = @price * @quantity %> </td>
        </tr>
    <% end %>
    
</tbody>
</table>
Total: $<%= @totals.sum %>
<br><br>

<%= link_to "Order History", cart_orders_path %> 
