<%= link_to 'Back', url_for(:back) %><br>
<h1><u> Your Cart </u></h1>
<% if @cart_items.empty? %>
  <h3>Empty Cart </h3>
<%end%>
<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr> 
        <th><strong>Name</strong></th>
        <th><strong>Price</strong></th>
        <th><strong>Quantity</strong></th>
        <th><strong>Total</strong></th>
        <th><strong>Edit</strong></th>
    </tr>

      <% @cart_items.each do |item| %>
        <tr>
            <td><%= @name = Item.find(item.item_id).name %></td>
            <td><%= @price = Item.find(item.item_id).price %></td>
            <td><%= @quantity = item.item_quantity %></td>
            <td><%= @total = @price * @quantity %> </td>
            <td><%= link_to "edit", edit_item_cart_item_path(item.item_id, item.id) %></td>
        </tr>
      <% end %>
    
</tbody>
</table>
Total: $<%= @totals.sum %>
<br><br>
<%= link_to "Add Items", items_path %>
<br><br>
<%= link_to "Place Order", cart_order_path(@cart, @order), data: { confirm: 'Are you sure?' }  %>