<%= form_for(@post) do |f| %>
    
    <div class='field'>
    <%= f.label :title %><br />
    <%= f.hidden_field :user_id %>
    <%= f.text_field :title %>
    </div>

    <div class='field'>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
    </div>

    <%= f.text_field :category_id, list: "categories_autocomplete" %>
    <datalist id="categories_autocomplete">
      <% Category.all.each do |category| %>
        <option value="<%= category.name %>">
      <% end %>
    </datalist>

    <br />
    <%= f.submit button_label %>
<%end%>