<h1>My Blog </h1> 

<%= link_to "Top Post", @most_comments%>

<ul>
    <% @posts.each do |post| %>
        <li>
            <h3><%= link_to post.title, post_path(post) %></h3>
            <p><%= post.content %></p>
            <p><%= link_to "See Comments", post_comments_path(post) %></p>
        </li>
    <%end%>
</ul><br>

<%if current_user.admin %>
    <%= link_to "Create New Blog Post", new_post_path(@post) %> <br>
    <%= link_to "Create New Category", new_category_path(@category) %>
<% end %>